@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blog</h2>

<div class="post">
    <div class="details">
        <p>Author and such</p>
    </div>
    <div class="content">
        <p>texty texty sndsabivans koasfnlqflds lkekgfnweqlkgnlewk lkwegnaelwkg klkerwgknl
            awglawglnk lkweglkawglk klnwerglkerlkg nwaerlwe;we; 
            waeglkjwaekweqbiojlk34809f0baewkjdv 809yweg g098 32gt 89erwg 
            gawergkjv b iwgjaweg98</p>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/Content/BlogStyle.css")" rel="stylesheet" type="text/css" />
}