body{
    font: 15px/1.5 Times New Roman;
    padding: 0;
    margin: 0;
    background-color: black;
}

/* -- GLOBAL -- */
p{
    color:silver;
}
tr:nth-child(even) {
    background-color:white;
}
tr:nth-child(odd) {
    background-color:#989898;
}
a {
    color: #907b07;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
a:hover {
    color: azure;
    font-weight: bold;
}

/*-- Containers --*/
.header {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding: 10px;
    flex-basis: 100%;
}
.container {
    display:flex;
    flex-direction:row;
    padding:10px;
    flex-basis:100%;
}
.container-1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-basis: 100%;
}
#classes {
    display:flex;
    flex-direction:row;
    min-height: 400px;
    background-color: silver;
    text-align: center;
    color: #000000;
}
.container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis:100%;
}

.box-1 {
    flex: 1;
    flex-direction:column;
    align-content:center;
    padding: 10px;
    
}

    /*-- SPECIFIC --*/
header {
    background: #870e11;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #000000 3px solid;
}
header li {
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}
header ul {
    margin:0;
    padding:0;
}
header #name {
    float:left;
}
header #name h1 {
    margin: 0;
}
header nav {
    float:right;
}



footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #870e11;
    text-align: center;
}

aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;

}

article#main-col{
    float:left;
    width:65%;
}